<include file="Common/Gemei/header"/>
    <script>
        $('.navContent li').eq(1).addClass('navActive').siblings().removeClass('navActive');
    </script>
    <!-- header -->
    <div class="bannerBg">
        <img src='{$headpic["picurl_$lang"]}'>
    </div>
    <!-- bread -->
    <div class="bread">
        <div class="container">
            <ul>
                <li>{$title['Current location']}：</li>
                <li><a href="{:U('index')}?lang={$lang}">{$title['homepage']}</a> > </li>
                <li>&nbsp;{$title['product center']}</li>
            </ul>
            </p>
        </div>
    </div>
    <!-- bread -->
    <!-- homeProducts -->
    <if condition="$lang eq 'chinese'">
        <div class="module">
            <div class="container">
                <div class="homeProducts">
                    <div class="homeProTitle">
                        <h2>{$title['Product classification']}</h2>
                    </div>
                        <div class="homeProNav">
                            <ul>
                                <foreach name="products['chinese']" item="voh" key="kh" >               
                                <li <if condition="$kh eq $key_high_chinese">class="homeProActive"</if>>
                                    <p><img src="__PUBLIC__/Gemei/images/pointwt.png" id="activePic">{$kh}</p>
                                </li>
                                </foreach>
                            </ul>
                        </div>
                        <div class="homeProRight">
                            <foreach name="products['chinese']"  item='voh' key='kh'>                  
                            <div class="homeProContent" <if condition="$kh eq $key_high_chinese"><else/>style="display: none"</if>>
                                <div class="homeProContentNav">
                                    <ul>
                                        <foreach name="voh" item="vom" key="km">                  
                                            <li>
                                                <p <if condition="$km eq $key_middle_chinese[$kh]">class="homeProChecked"</if>>{$km}</p>
                                            </li>
                                        </foreach>
                                    </ul>
                                </div>
                                <div>
                                    <foreach name="voh" item="vom" key="km">                  
                                        <div class="homProBoxPage" <if condition="$km eq $key_middle_chinese[$kh]"><else/>style="display: none"</if>>
                                            <php> $i=0</php>
                                            <foreach name="vom" item="vop" key='kp'>
                                                <if condition="$i++ lt 18">
                                                <div class="col-md-4 col-xs-6">
                                                    <div class="homProBox productsBox">
                                                        <a href="{:U('productPer')}?id={$vop['id']}&lang={$lang}"><img src='{$vop["picurl_$lang"]}'><div class="productsName">{$vop["xinhao_$lang"]}</div></a>
                                                    </div>
                                                </div>
                                                </if>
                                            </foreach>
                                        </div>
                                    </foreach>
                                </div>
                            </div>
                            </foreach>
                        </div>
                </div>
            </div>
        </div>
        <else/>
        <div class="module">
            <div class="container">
                <div class="homeProducts">
                    <div class="homeProTitle">
                        <h2>Product classification</h2>
                    </div>
                        <div class="homeProNav">
                            <ul>
                                <foreach name="products['english']" item="voh" key="kh" >               
                                <li <if condition="$kh eq $key_high_english">class="homeProActive"</if>>
                                    <p><img src="__PUBLIC__/Gemei/images/pointwt.png" id="activePic">{$kh}</p>
                                </li>
                                </foreach>
                            </ul>
                        </div>
                        <div class="homeProRight">
                            <foreach name="products['english']"  item='voh' key='kh'>                  
                            <div class="homeProContent" <if condition="$kh eq $key_high_english"><else/>style="display: none"</if>>
                                <div class="homeProContentNav">
                                    <ul>
                                        <foreach name="voh" item="vom" key="km">                  
                                            <li>
                                                <p <if condition="$km eq $key_middle_english[$kh]">class="homeProChecked"</if>>{$km}</p>
                                            </li>
                                        </foreach>
                                    </ul>
                                </div>
                                <div>
                                    <foreach name="voh" item="vom" key="km">                  
                                        <div class="homProBoxPage" <if condition="$km eq $key_middle_english[$kh]"><else/>style="display: none"</if>>
                                            <volist name="vom" id="vop" offset="0" length='20'>
                                                <div class="col-md-4 col-xs-6">
                                                    <div class="homProBox productsBox">
                                                        <a href="{:U('productPer')}?id={$vop['id']}&lang={$lang}"><img src='{$vop["picurl_$lang"]}'><div class="productsName">{$vop["xinhao_$lang"]}</div></a>
                                                    </div>
                                                </div>
                                            </volist>
                                        </div>
                                    </foreach>
                                </div>
                            </div>
                            </foreach>
                        </div>
                </div>
            </div>
        </div>

        </if>
    <!-- homeProducts -->
    <!-- footer -->
    <include file="Common/Gemei/footer"/>

    <!-- footer -->
    <script src="__PUBLIC__/Gemei/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Gemei/js/swiper-4.2.6.min.js"></script>
    <script src="__PUBLIC__/Gemei/js/index.js"></script>
</body>
</html>