<extend name="Common/common" />
<block name="main">
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="col-lg-14">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑头部图片</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t " method="post" enctype="multipart/form-data" action="{:U('edit')}">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">图片：</label> 
                            <label class="col-sm-2 control-label">中文：</label>
                            <div class="col-sm-3">
                                <input  type="file" id="picurl_chinese"  name="picurl_chinese" value="{$data.picurl_chinese}">
                                <img src="{$data.picurl_chinese}" id="img_chinese"   width="234px" height="171px" alt="">
                            </div>
                            <label class="col-sm-2 control-label">英文：</label>
                            <div class="col-sm-3">
                                <input  type="file" id="picurl_english"  name="picurl_english" value="{$data.picurl_english}">
                                <img src="{$data.picurl_english}" width="234px" height="171px" alt="" id="picurl_english">
                            </div>                            
                        </div>  <!-- 图片 -->
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <input type="hidden" name="id" value="{$data.id}">
                                <input type="hidden" name='uploads' value="0">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--尾部-->
        <include file="Common/admin:footer"/>
    </div>

<script>
    $('form').submit(function(){
        var pic = $("input[name='picurl_chinese']").val()||$("input[name='picurl_english']").val();
        if(pic){
            $("input[name='uploads']").val(1)
        }
    })

    //图片预览
    $('#picurl_chinese').on('change',function(){
                var filePath = $(this)[0].files[0].name;       //获取到input的value，里面是文件的路径  
                fileFormat = filePath.split('.')[1].toLowerCase();  
                src = window.URL.createObjectURL(this.files[0]);//转成可以在本地预览的格式  

                // 检查是否是图片  
                if( !fileFormat.match(/png|jpg|jpeg/) ) {  
                    alert('上传错误,文件格式必须为：png/jpg/jpeg');
                    return;   
                }  
                $('#img_chinese').attr('src',src);
            });
</script>

</block>

